<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Jester</title>
    <link rel="stylesheet" href="~/css/main.css" />
    @await Html.PartialAsync("_Favicons")
</head>
<body class="min-h-[100vh] flex flex-col">
    <header>
        <nav  class="bg-blue-100/20">
            <div  class="container px-2 sm:px-6 lg:px-8">
                <div  class="relative flex h-16 py-8 items-center justify-between">
                    <div  class="flex flex-1 items-center justify-between sm:items-center">
                        <div  class="flex flex-shrink-0 items-center">
                            
                            <a class="text-4xl bg-gradient-to-r from-blue-600 via-purple-500 to-red-400 inline-block !text-transparent bg-clip-text w-auto" href="/">
                                <img class="w-14 h-full" src="/jester.png"/>
                                <span class="sr-only">Jester</span>
                            </a>
                        </div>
                        <div  class="hidden sm:ml-6 sm:block">
                            <div  class="flex space-x-4">
                                @{
                                    var activePageClasses = "bg-[#0d6efd] text-white rounded-md px-3 py-2 text-sm font-medium";
                                    var nonActivePageClasses = "text-gray-800 hover:outline hover:outline-[#0d6efd]/90 hover:outline-2 hover:text-[#0d6efd] rounded-md px-3 py-2 text-sm font-medium";
                                }
                                <a  href="/" class="@(ViewData["CurrentNavigationPage"]=="Home" ? activePageClasses : nonActivePageClasses)" aria-current="@(ViewData["CurrentNavigationPage"]=="Home" ? "page":null)">Home</a>
                                <a  href="/News" class="@(ViewData["CurrentNavigationPage"]=="All" ? activePageClasses : nonActivePageClasses)" aria-current="@(ViewData["CurrentNavigationPage"]=="All" ? "page":null)">All news</a>
                                <a  href="/News/Create" class="@(ViewData["CurrentNavigationPage"]=="Create" ? activePageClasses : nonActivePageClasses)" aria-current="@(ViewData["CurrentNavigationPage"]=="Create" ? "page":null)">Add your own</a>
                            </div>
                        </div>
                        <button id="mobile-menu-btn" aria-controls="mobile-menu" class="sm:hidden border border-2 border-solid border-[#0d6efd]/90 rounded p-2 text-[#0d6efd]/90 hover:bg-[#0d6efd]/90 hover:text-white">MENU</button>
                    </div>

                </div>
            </div>

            <!-- Mobile menu, controlled by JS (no-js alt needed) -->
            <div  class="hidden" id="mobile-menu">
                <div  class="space-y-1 px-2 pb-3 pt-2">
                    @{
                                    var activeMobilePageClasses = "bg-[#0d6efd]/90 text-white block rounded-md px-3 py-2 text-base font-medium";
                                    var nonActiveMobilePageClasses = "text-gray-800 hover:outline hover:outline-[#0d6efd]/90 hover:outline-2 hover:text-[#0d6efd] block rounded-md px-3 py-2 text-base font-medium";
                                }
                    <a  href="/" class="@(ViewData["CurrentNavigationPage"]=="Home" ? activeMobilePageClasses : nonActiveMobilePageClasses)" aria-current="@(ViewData["CurrentNavigationPage"]=="Home" ? "page":null)">Home</a>
                    <a  href="/News" class="@(ViewData["CurrentNavigationPage"]=="All" ? activeMobilePageClasses : nonActiveMobilePageClasses)" aria-current="@(ViewData["CurrentNavigationPage"]=="All" ? "page":null)">All news</a>
                    <a  href="/News/Create" class="@(ViewData["CurrentNavigationPage"]=="Create" ? activeMobilePageClasses : nonActiveMobilePageClasses)" aria-current="@(ViewData["CurrentNavigationPage"]=="Create" ? "page":null)">Create</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 min-h-[80vh]">
            @RenderBody()
        </main>
    </div>

    <footer class="container border-top pl-4 pt-4 text-gray-600">
        <div>
            &copy; 2024 - Nuh
        </div>
    </footer>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
